#container {
  align-items: center;
  border: 1px dotted red;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

#random-button, #reset-button {
  background-color: #E5B6D5;
  border-top: #B2479A;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700, bold;
  text-transform: uppercase;
}
