#container {
  align-items: center;
  border: 1px dotted red;
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100vw;
}

#random-button, #reset-button {
  font-family: 'Open Sans', sans-serif;
}
