#container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

#random-button, #reset-button {
  background-color: #E5B6D5;
  border-bottom-color: #B2479A;
  border-left-color: #CC7FB5;
  border-right-color: #CC7FB5;
  border-top-color: #B2479A;
  box-shadow: none;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700, bold;
  text-transform: uppercase;
  width: 80px;
}

#random-button:hover, #reset-button:hover {
  background-color: #B2479A;
  border-bottom-color: #CC7Fb5;
  border-left-color: #E5B6D5;
  border-right-color: #E5B6D5;
  border-top-color: #CC7Fb5;
}

#random-button {
  margin-right: 10px;
}

#reset-button {
  margin-left: 10px;
}

@media screen and (max-width: 500px) {
  #container {
    border: 1px dotted red;
    flex-direction: column;
  }

  #random-button, #reset-button {
    margin-left: 0;
    margin-right: 0;
  }

  #random-button {
    height: 30px;
    margin-bottom: 10px;
  }

  #reset-button {
    margin-top: 10px;
  }

}
